<%= form_with model: @user, url: profile_path, local: true do |f| %>
<div class = "container mt-5">
  <div class = "card mt-5" style="background-color: #f3682d;">
    <div class = "card-body" style="color: #fff;">
      <div class="field">
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control mb-3' %>
      </div>

      <div class="field">
        <%= f.label :avatar %>
        <%= f.file_field :avatar,class: 'form-control mb-3' %>
        <%= f.hidden_field :avatar_cache %>
      </div>

      <div class="field">
        <%= f.label :plofile %>
        <%= f.text_area :plofile %>
      </div>

      <%= f.submit "更新", class: "btn btn-primary"%>
    </div>
  </div>
<%end%>