<h1>店舗情報</h1>

<p>店舗名：<%= @name %></p>
<p>住所　：<%= @address  %></p>
<% if @opening_time["open_now"] == true %>
  <p>営業　；営業中</p>
<%else%>
  <p>営業　：準備中</p>
<%end%>

<h2>opening_time</h2>
<% @opening_time["weekday_text"].each do |opening_day| %>
  <p><%= opening_day %></p>
  <% end %>


  <table>
<% unless @posts.nil? %>
  <thead>
    <tr>
      <th>Content</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.content %></td>
        <td><img src="<%= post.image %>" width="100"></td>    
        <td><%= link_to 'Show', post %></td>
      </tr>
    <% end %>
  </tbody>
  <%else%>
    <p>投稿はありません<p>
<% end %>
</table>

  <% if @shop.nil? %>
    <td><%= link_to '投稿する(shop)',shops_path(shop: {name:@name, latitude:@lat, longitude:@lng, address:@address, place_id:@place_id}), method: :post %></td>
  <% else %>
    <td><%= link_to '投稿する(post)',new_post_path(shop_id:@shop.id)%></td>
<% end %>

<h3>GoogleMapでのレビュー</h3>
  <%if @reviews.nil?%>
    <p>投稿がありません</p>
  <%else%>
    <% @reviews.each do |review| %>
      <p><%= review.text %></p>
    <% end %>
  <% end %>