<div class = "container">
  <div class = "card mt-5" style="background-color: #f3682d;">
    <div class = "card-body">
      <p>
        <h3 style="color: #fff;">
          <strong>ユーザー名:</strong>
          <%= @user.name %>
        </h3>
      </p>
      <p>
        <h3 style="color: #fff;">
          <strong>e-mail:</strong>
          <%= @user.email %>
          <% unless @user.id==@current_user.id %>
            <%= render 'follow_form', user: @user %>
          <% end %>
        </h3>
      </p>

      <%= image_tag @user.avatar.url, :size =>'450x400' %>

      <p>
      <h3 style="color: #fff;">
        <strong>"自己紹介"</strong>
        <% if @user.plofile.present? %>
          <%= @user.plofile %>
        <% else %>
          <p>無記入</p>
        <% end %>
      </h3>
      <% if @user.id==@current_user.id %>
        <%= link_to '編集', edit_profile_path, class: 'btn btn-success float-right' %>
      <% end %>
    </div>
  </div>
</div>

<% if @user.id==@current_user.id %>
  <div class = "container">
    <div class = "row">
      <%= link_to "いいねした投稿一覧", nices_path, class: "col-3"%>
      <%= link_to "気になる店舗一覧", likes_path, class: "col-3"%>
      <%= link_to "フォロー", followings_user_path(@user) , class:"col-3" %>
      <%= link_to "フォロワー", followers_user_path(@user) , class:"col-3" %> 
    </div>
  </div>
<% end %>

<div class = "card mt-5" style="background-color: #f3682d;">
  <div class = "card-body">
    <table class = "table">
      <% unless @posts.nil? %>
        <thead>
          <tr style = "color: #fff;">
            <th><%= t '.Shop' %></th>
            <th><%= t '.Content' %></th>
            <th><%= t '.Image' %></th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <% @posts.each do |post| %>
            <tr>
              <td><%= link_to post.shop.name, shop_path(post.shop) %></td>
              <td><%= post.content %></td>
              <td><img src="<%= post.image %>" width="100"></td>  
              <td><%= link_to  (t '.Show'), post %></td>
              <% if post.user_id == current_user.id %>
                <td><%= link_to (t '.Edit'), edit_post_path(post) %></td>
                <td><%= link_to (t '.Destroy'), post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
        <%else%>
          <p>投稿はありません<p>
      <% end %>
    </table>
  </div>
</div>