<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <td><%= @shop[:shop_id] %></td>
  <td><%= @shop[:name] %></td>
  <td><%= @shop[:latitude] %></td>
  <td><%= @shop[:longitude] %></td>

  <%= form.hidden_field :shop_id, :value => @shop[:shop_id] %>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div>

<div class="field">
  <%= form.label :image %>
  <%= form.file_field :image %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
