<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= include_gon %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "application", :media => "all" %>
  </head>

  <header>
    <div class = "container mt-2">
      <div class = "row">
        <ul>
          <li class = "col-3" ><%= link_to 'トップページ', toppages_path %></li>
          <% if user_signed_in? %>
            <li class = "col-5" ><%= link_to "ユーザー", user_path(current_user)%> </li>
            <li class = "col-4" ><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
            <% if current_user.admin? %>
              <%= link_to '管理者画面', rails_admin_path %></li>
            <% end %>
          <% else %>
            <li class = "col-3" ><%= link_to 'ログイン', new_user_session_path %></li>
            <li class = "col-3" ><%= link_to 'サインアップ', new_user_registration_path %></li>
            <li class = "col-3" ><%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post %></li>
            <li class = "col-3" ><%= link_to 'ゲストログイン（管理者用）', users_guest_admin_sign_in_path, method: :post %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </header>

  <body>
  <p class="notice"><%= notice %></p>
  <p class="alert" style="color: #fff"><%= alert %></p>
    <%= yield %>
  </body>

  <footer class="footer">
    <p>Make Sora Tanaka from Dive InTo Code</p>
  </footer>

</html>
